/*
#1 color = #4ACCD1;
#2 color = #3fbbc0;
*/
.top_bar { min-height:40px;
background: #579B1E; 
}

.social { list-style-type:none; margin-bottom:0px; float:left; padding:0px; margin-left:0px;}
.social li { float:left;}
.social li a { padding:0 10px; font-size:13px; line-height:40px; color:#FFF;}

.icon-small
{
    height:18px;
    margin:0;
	padding:0;
}

.icon-medium
{
    height:22px;
	margin:0;
	padding:0;
}

a:hover,
a:focus {
    color: #4ACCD1;
}

.circled {
	background: #4ACCD1;
}

.con1 > div, .con2 > div, .con3 > div { 
	background-color: #4ACCD1;
}

.scrollup:hover {
	background: #4ACCD1;
}


/* button */
.btn-skin {
  background-color: #4ACCD1;
  border-color: #4ACCD1;
}


/* menu */

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #3fbbc0;
}
.navbar-custom.top-nav-collapse .nav li a:hover,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li.active a,.navbar-custom.top-nav-collapse .nav li.active a  {
    color: #3fbbc0;
}



.bg-skin {
	background: #4ACCD1;
}

.highlight-color {
	background-color: #4ACCD1;
}
.color {
	color: #4ACCD1;
}

.form-control:focus {
  border-color: #3fbbc0;
}
