.mini-submenu{
  display:inline;  
  //border: 2px solid rgba(255, 255, 255, 0.9);
  color:#fff;
  border-radius: 3px;
  width: 50px;
  

}

.mini-submenu:hover{
  cursor: pointer;
  display: inline-block;
}



#slide-submenu{
  //background: rgba(0, 0, 0, 0.6);
  display: block ;
  padding: 0 8px;
  border-radius: 0px;
  cursor: pointer;
  
}
.no-pad-left{
    padding-left: 0;
}
#slide-submenu li{
    background-color: #5bc0de;
    /*border: 2px solid #014c8c;*/
    margin-bottom: 1px;
    padding: 5px;
}
#slide-submenu li a span{
    color: #000;
    font-size: 1.5em;
}
.mini-submenu button{
   background: #5bc0de; 
}