<div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" class="active nav-link" data-toggle="tab" data-target="#tabone">Task list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" data-toggle="tab" data-target="#tabtwo">Add Task</a>
                    </li>
                    <li class="nav-item">
                        <a href="" id="edit" class="nav-link" data-toggle="tab" data-target="#tabthree">Edit Task</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" data-toggle="tab" data-target="#product">Product list</a>
                    </li>
                </ul>
                <div class="tab-content mt-2">
                    <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-primary" href="#" onclick="sender();">get/reload task list</a>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-striped">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>task_id</th>
                                                    <th>model</th>
                                                    <th>sheduled</th>
                                                    <th>статус</th>
                                                    <th>action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="result">
                                                {TaskTableHtml}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabtwo" role="tabpanel">
                        <form method="POST" id="post_form" >
                            <input type="hidden" name="task_id">
                            <label>models</label>
                            <select name="product_id" id="popt" onchange="setModel(this)">

                            </select>
                            <input type="hidden" name="models" id="model"><br>
                            <label>agenda</label><input name="agenda"><br>
                            <label>howManyTimes</label><input name="howManyTimes"><br>
                            <label>place</label><input name="place"><br>
                            <label>task_status</label><input name="task_status"><br>
                            <input type="hidden" name="token" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IntcInN1YlwiOlwiMTIzNDU2Nzg5MFwiLFwibmFtZVwiOlwibWVnYXplblwiLFwiaWF0XCI6MTUxNjIzOTAyMn0i.9l7pSy1vXrJRIsIG50u7E_8t7ZJIDIeThZDjWxPwC_0">
                            <button class="btn btn-primary" type="submit">Create task</button>
                        </form>
                        <p class="post_form_success">.</p>
                    </div>
                    <div class="tab-pane fade" id="tabthree" role="tabpanel">
                        <p class="">
                            edit Task

                        </p>
                        <form method="PUT" id="post_form1">
                            <label>task id</label>
                            <input name="task_id" id="task_id1"><br>
                            <label>models</label>
                            <input name="models" id="model1"><br>
                            <label>agenda</label><input name="agenda" id="agenda1"><br>
                            <label>howManyTimes</label><input name="howManyTimes" id="times1"><br>
                            <label>place</label><input name="place" id="place1"><br>
                            <label>task_status</label><input name="task_status" id="status1"><br>
                            <input type="hidden" name="token" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IntcInN1YlwiOlwiMTIzNDU2Nzg5MFwiLFwibmFtZVwiOlwibWVnYXplblwiLFwiaWF0XCI6MTUxNjIzOTAyMn0i.9l7pSy1vXrJRIsIG50u7E_8t7ZJIDIeThZDjWxPwC_0">
                            <button class="btn btn-primary" type="submit">Edit task</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="product" role="tabpanel">
                        <h2>product list</h2>
                        <button class="btn btn-primary" onclick="showProd()">get list</button>
                        <p class="prodlist">
                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>products_id</th>
                                    <th>products_model</th>
                                </tr>
                            </thead>
                            <tbody id="plist">
                            </tbody>
                        </table> 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>